{:deps
 {org.hugpduncan/mcp-clj {:git/url "https://github.com/hugoduncan/mcp-clj"
                          :git/sha "77ca1a2df2c9d261a127272417e92e0728b528fd"
                          :deps/root "projects/server"}
  org.clojure/clojure {:mvn/version "1.12.3"}}

 :aliases
 {:dev {}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :main-opts ["-m" "kaocha.runner"]}
  :run {:exec-fn mcp-tasks.main/start
        :main-opts ["-m" "mcp-tasks.main"]}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
          :main-opts ["-m" "nrepl.cmdline"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :paths ["dev"]
          :ns-default build}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote}}}}
