#kaocha/v1
 {:tests [{:id :unit
           :test-paths ["test"]
           :ns-patterns [".*-test$"]
           :skip-meta [:integ :native-binary :pending]}
          {:id :integration
           :test-paths ["test"]
           :ns-patterns [".*-test$"]
           :focus-meta [:integ]
           :skip-meta [:native-binary :pending]}
          {:id :native-binary
           :test-paths ["test"]
           :ns-patterns [".*-test$"]
           :focus-meta [:native-binary]
           :skip-meta [:pending]}]
  :color? true
  :fail-fast? false
  :randomize? false}
